## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Saint-Louis,16.3333,-15.0000,99.50,12,4,8.28,SN,clear sky
1,1,Narsaq,60.9167,-46.0500,37.62,79,92,3.04,GL,overcast clouds
2,2,Guerrero Negro,27.9769,-114.0611,69.96,66,4,16.28,MX,clear sky
3,3,Kaitangata,-46.2817,169.8464,49.91,91,100,2.57,NZ,overcast clouds
4,4,Tiksi,71.6872,128.8694,-2.24,100,97,4.27,RU,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Guerrero Negro,27.9769,-114.0611,69.96,66,4,16.28,MX,clear sky
5,5,Necochea,-38.5473,-58.7368,62.04,56,85,10.11,AR,moderate rain
7,7,Busselton,-33.6500,115.3333,54.09,83,17,6.91,AU,few clouds
8,8,Guerrero,17.6667,-100.0000,71.92,85,99,2.57,MX,overcast clouds
9,9,Bambous Virieux,-20.3428,57.7575,75.22,79,15,10.89,MU,few clouds
10,10,Jamestown,42.0970,-79.2353,50.09,80,90,5.01,US,light rain
11,11,Gogrial,8.5332,28.1004,79.45,62,86,3.89,SS,overcast clouds
12,12,Nelson Bay,-32.7167,152.1500,64.96,97,48,11.99,AU,scattered clouds
14,14,Victoria,22.2855,114.1577,70.32,77,73,1.01,HK,light rain
15,15,Rikitea,-23.1203,-134.9692,74.50,82,67,19.71,PF,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             303
City                   303
Lat                    303
Lng                    303
Max Temp               303
Humidity               303
Cloudiness             303
Wind Speed             303
Country                300
Current Description    303
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
updated_cities_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = updated_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Guerrero Negro,MX,69.96,clear sky,27.9769,-114.0611,
5,Necochea,AR,62.04,moderate rain,-38.5473,-58.7368,
7,Busselton,AU,54.09,few clouds,-33.6500,115.3333,
8,Guerrero,MX,71.92,overcast clouds,17.6667,-100.0000,
9,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,
10,Jamestown,US,50.09,light rain,42.0970,-79.2353,
11,Gogrial,SS,79.45,overcast clouds,8.5332,28.1004,
12,Nelson Bay,AU,64.96,scattered clouds,-32.7167,152.1500,
14,Victoria,HK,70.32,light rain,22.2855,114.1577,
15,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Guerrero Negro,MX,69.96,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
5,Necochea,AR,62.04,moderate rain,-38.5473,-58.7368,dyd -mar Hotel
7,Busselton,AU,54.09,few clouds,-33.6500,115.3333,Observatory Guest House
8,Guerrero,MX,71.92,overcast clouds,17.6667,-100.0000,Villaxochilt
9,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa
10,Jamestown,US,50.09,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Gogrial,SS,79.45,overcast clouds,8.5332,28.1004,
12,Nelson Bay,AU,64.96,scattered clouds,-32.7167,152.1500,Mantra Nelson Bay
14,Victoria,HK,70.32,light rain,22.2855,114.1577,Mini Hotel Central
15,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692,People ThankYou

In [9]:
# 7. Drop the rows where there is no Hotel Name.
# hotel_df.count() 
# #154
# print(hotel_df)

type(hotel_df)
# results = DF
nan_value= float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
print(hotel_df)

type(hotel_df)
#cleand_hotel_df = hotel_df['Hotel Name'].empty()

                 City Country  Max Temp Current Description      Lat  \
2      Guerrero Negro      MX     69.96           clear sky  27.9769
5            Necochea      AR     62.04       moderate rain -38.5473
7           Busselton      AU     54.09          few clouds -33.6500
8            Guerrero      MX     71.92     overcast clouds  17.6667
9     Bambous Virieux      MU     75.22          few clouds -20.3428
..                ...     ...       ...                 ...      ...
557      Port Augusta      AU     55.54           clear sky -32.5000
560           Mataram      ID     76.01       broken clouds  -8.5833
561  Praia Da Vitoria      PT     68.34           clear sky  38.7333
563           Margate      GB     55.11       broken clouds  51.3813
568        Chowchilla      US     67.91           clear sky  37.1230

          Lng                                         Hotel Name
2   -114.0611                       Casa Laguna, Bed & Breakfast
5    -58.7368                                     dyd -mar Hotel
7    115.3333                            Observatory Guest House
8   -100.0000                                       Villaxochilt
9     57.7575                                     Casa Tia Villa
..        ...                                                ...
557  137.7667                          Majestic Oasis Apartments
560  116.1167                              Hotel Santika Mataram
561  -27.0667                                     Hotel Branco I
563    1.3862                          Premier Inn Margate hotel
568 -120.2602  Days Inn by Wyndham Chowchilla Gateway to Yose...

[279 rows x 7 columns]

pandas.core.frame.DataFrame

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv('clean_hotel.csv', index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
import gmaps
gmaps.configure(api_key=g_key)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))